<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
</head>
<body>
    <h1>Historical Predictions</h1>

    <!-- {{ historical_data }} -->
    <!-- (4, '1', 'Royal Enfield', 1000.0, 121, 350.0, 112049.0) -->
    <table border="1">
        <tr>
            <th>Owner Name</th>
            <th>Brand Name</th>
            <th>Kms Driven</th>
            <th>Age</th>
            <th>Power</th>
            <th>Prediction</th>
        </tr>
        {% for prediction in historical_data %}
        <tr>
            <td>{{ prediction[1] }}</td>
            <td>{{ prediction[2] }}</td>
            <td>{{ prediction[3] }}</td>
            <td>{{ prediction[4] }}</td>
            <td>{{ prediction[5] }}</td>
            <td>{{ prediction[0] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>